<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item detail *ngFor="let lista of deseosService.listas" color="dark" (click)="listaSeleccionada( lista )">
            <ion-label>{{ lista.titulo }}</ion-label>
            <ion-note slot="end" color="tertiary">{{ lista.items.length }} items</ion-note>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarLista()">
        <ion-fab-button color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>